p {color:purple;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
line-height: 18px;
width: 600px;
background-color: bisque;
padding: 20px;
}
.paragraf_2{color: rgb(221, 93, 142); background-color: bisque;}
.novi_blok{
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    width: 50%;
}
h1, h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(150, 4, 255);
}

span{color: red;}

body{background-image: url(slike/slika\ 5.avif);}

 .drugapozadina{
    background-color: bisque;}

a:link{
    color: black;
    background-color: white;
    padding: 5px;
    line-height: 40px;
    border: 1px solid#0000;
}
a:hover{
    background-color: darkgrey;
}

img{
    height: 200px;
}